<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDMEzEHCLf6GrBpcTbOWe6Ijy5y4EGJp0Y</string>
	<key>GCM_SENDER_ID</key>
	<string>433014575584</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nasoviva.ChatApp</string>
	<key>PROJECT_ID</key>
	<string>chatapp-2661a</string>
	<key>STORAGE_BUCKET</key>
	<string>chatapp-2661a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:433014575584:ios:74ddde1483b3d710a85b85</string>
</dict>
</plist>